*{
  margin:0;
  padding:0;
}
.main{
  height:100%;
  width:100%;
  display:flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #e3e6e7;
  font-family: Arial, Helvetica, sans-serif,'Segoe UI';
  
}
.container{
  position: absolute;
   top:55px; 
   height:100%;
   width:65vw;
  /* border: 1px solid black; */
   margin:0px;
   
}
.navbar{
  height:80px;
  width:100%;
  background-color:rgba(0, 128, 58, 0.79) ;
  color: white;
  margin:0;
  padding:0;
}
.logo{
  display: inline;
}
.logo img{
  height:64px;
  width:100px;

}
.option1{
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  top:25px;
  display: flex;
  align-items: center;
  left:100px;
}
.option1 ul{
  list-style-type: none;
}
.option1 ul li{
   display: inline;
   margin-left: 20px;;
  
}
.option1 ul li select{
  background-color: rgb(0, 255, 17);
  text-align: center;
  border: 0 solid black;
  
  
}
.botton-option{
  display: inline;
  position: absolute;
  right:70px;
  top:20px;

}
button{
  border-radius: 40%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width:150px;
  height: 35px;
  background-color: aqua;
}
.black-opt{
  height: 40px;
  width:100%;
  background-color: black;
  color:white;
}
.opt2{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;

}
.opt2 p{
  margin-top:10px;
  margin-bottom: 5px;
}
.opt2 select{
  background-color: black;
  color:white;
  text-align: center;
}
.main-sec{
  
  width:100%;
  background-color: white;
  margin-top:5px;
  display: flex;
  
}

.box{ 
  height:180px;
  width:20%;
  background-color: white;
  margin: 5px;
  border: 1px solid black; 
  
}
.boxes1{
  font-size: 15px;
}
.boxes .btn{
  display: inline;
  height: 20px;
  width:35px;
  border-radius: 20px;
}
 .box img.india{
  height:25px;
  width:25px;
  display: inline;
  margin-left:20px;
  margin-top:15px;
  margin-bottom: 20px;
  margin-right: 20px;
  
}
.boxes1 img.england p{
   font-size:10px;
}

.box img.england{
   height:25px;
   width:25px;
   margin-left: 20px;
   margin-right: 20px;
  margin-bottom: 20px; 
  margin-top:-10px;
  display: inline;
}
.box img.england p{
  margin-bottom: 10px;
  margin-right: 12px;
}
.boxes2 img.england p{
    font-size:0.9rem;
    margin-bottom: 20px;
}
.news-section{
   display:flex; 
   align-items: center;
   justify-content: space-evenly;
}

.news-box1{
    margin:20px;
   height:500px;
   width:260px;
   background-color:white;
   

}
.news-box2{
  height:500px;
  width:400px;
  background-color: white;
  
}
.news-box3{
  height:600px;
  width:400px;
  background-color:white;
  text-align:center;

}
.news-box1 h2{
  color:green;
  font-weight: 650;
  font-size:1.5rem;
}
.news-box1 hr{
  color:green;
}
.news-box2 img{
  height:300px;
  width:320px;
  margin:10px;
}
.news-box2{
  text-align: center;
  
}
.news-box2 h4{
  font-size:0.8rem;
}
.news-box3 img{
   height:350px;
   width:280px;
   margin:20px;
} 
.news-section2{
  display:flex;
  align-items: center;
  justify-content: space-evenly;

}
.section2-box1{
  height:900px;
  width:300px;
  text-align:center;
  color:green;
}
.section2-box2{
 height:700px;
 width:400px;
 color:green;
}
.section2-box3{
  height:950px;
  width:400px;
 text-align:center;
  
}
.section2-box1 p{
  color:black;
}
hr{
  color:aquamarine;
}
.section2-box2{
  text-align: center;
  color:black;
}
.section2-box2 img{
  height:400px;
  width:320px;
  background-size: cover;
  margin:20px;
}
 .section2-box2 h6{
  color:green;
}
.section2-box3 h5{
  color:green;
}
.foot{
  height:400px;
  background-color:rgba(0, 0, 0, 0.8);
  position: absolute;
  top:2000px;
  width:100%;
  color:white;

  
}